*{
  padding: 0;
  margin: 0;

}

h1{
  font-size: 50px;
  text-align: center;
  letter-spacing: 4px;
  padding-top: 20px;
}

.App{
  align-content: center;
  width: 100%;
  background-color: black;
  opacity: 0.6;
  color: white;
}

.input{
  display: flex;
  align-items: center;
  margin: 10px auto;
  width: 310px;
  height: 50px;
}

.input button{
  width: 20%;
  height: 60%;
  border-radius: 6px;
  border: 1px solid black;
  color: black;
  font-size: 17px;
}

input{
  height: 40%;
  margin-right: 10px;
  width: 75%;
}

.Select{
  display: flex;
  justify-content: center;
  padding-bottom: 20px;
  font-size: 20px;
}

.Select1{
  margin-right: 50px;
}

select{
  margin-left: 15px;
  font-size: 16px;
}

.Find{
  display: flex;
  justify-content: center;
  margin-top: 10px;
  font-size: 18px;
  font-weight: 600;
}

img{
  height: 270px;
  width: 190px;
  box-shadow: 0 0 15px black;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 25px;
}

.Block{
  display: flex;
  flex-wrap: wrap;
}

.button{
  width: 120px;
  height: 40px;
  border-radius: 6px;
  border: 1px solid black;
  color: black;
  font-size: 17px;
}

.Load{
  display: flex;
  justify-content: center;
  margin: 20px auto;
}